table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

table, th, td {
    text-align: center;
    border: 1px solid black;
}

.number-input {
    width: 35px;
    text-align: center;
}

.text-input {
    width: 100px;
    text-align: center;
}
